{% load static %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
     <link rel="stylesheet" href="{% static 'main_page/css/main_page.css' %}" type="text/css">
</head>
<body>
    <ul>
        <li><a href="https://www.facebook.com/rostyslavmelnyk49/"><img src="{% static 'main_page/media/Facebook_Logo_(2019).png' %}"></a></li>
        <li><a href="https://github.com/LeapSunrise"><img src="{% static 'main_page/media/github-mark-white.png' %}"></a></li>
        <li><a class="fbimg" href="https://www.linkedin.com/in/rostyslav-melnyk/"><img src="{% static 'main_page/media/linkedin-logo-png-1853.png' %}"></a></li>
        <li><a class="fbimg" href="https://t.me/leap_sunrise"><img src="{% static 'main_page/media/telegram-logo-944.png' %}"></a></li>
    </ul>


</body>
</html>