body {
    background: #DA70D5;
    height: 1000px;
}

.container-fluid {
    width: 10%;
}

#govno {
    background-color: #000000;
}



.social_images{
width: 100%;
position: fixed;
bottom: 40px;



}

#fb, #gh, #li, #tg {
width: 5%;
height: 5%;
margin: 15px;

}
